/* SETS BASE STYLING */
:root {
    --theme-bg-color: #42607b;
    --theme-font-color: #ffffff;
    --theme-btn-color: #00a1d4;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-size: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* GENERAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/* ELEMENT STYLES */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    color: var(--theme-font-color);
    text-decoration: inherit;
}

a:hover {
    opacity: 0.8;
}
